<script>
	window.onload = function () {
	
		var pessoas = ["Alice", "Bob", "Carol", "David", "Eve"];
		var dataPoints = [];
	
		// Gerando dados aleatórios para cada pessoa
		for (var i = 0; i < pessoas.length; i++) {
			var yValue = Math.random() * 15; // Valor aleatório entre 0 e 15
			dataPoints.push({ x: pessoas[i], y: yValue });
		}
	
		var chart = new CanvasJS.Chart("chartContainer", {
			animationEnabled: true,
			title: {
				text: "OCORRÊNCIAS POR PESSOA"
			},
			axisX: {
				title: "Pessoas",
				interval: 1
			},
			axisY: {
				title: "Ocorrências",
				minimum: 0,
				maximum: 15
			},
			data: [{
				type: "column", // Tipo de gráfico de colunas
				dataPoints: dataPoints
			}]
		});
	
		chart.render();
	
	}
	</script>
	
	<div id="chartContainer" style="height: 370px; width: 100%;"></div>
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	