<%- include('./partials/header', { gestorInfo: gestorInfo, pageName: 'Cameras' }) %>

<body class="bg-gray-100">
    <div class="grid grid-cols-5 lg:grid-cols-6 xl:grid-cols-7">
        <div id="loader"></div>
        <%- include('partials/menu.ejs', {gestorInfo:gestorInfo})%>
        <div class="col-start-3 col-span-4 grid grid-cols-4 lg:grid-cols-5 xl:grid-cols-6"> 
            <!-- Main cam -->
            <div class="col-span-3 lg:col-span-4 xl:col-span-5">
                <!-- Esta div recebe as imagens da webcam -->
                <div id="webcam-container" class="h-full flex items-center justify-center overflow-hidden border-2 hidden">
                    <div id="webcam"></div>
                </div>

                <!-- Apresenta a taxa de acerto -->
                <div id="label-container" class="mt-4"></div>

                <!-- Div para exibir a imagem capturada -->
                <div id="captured-image-container" class="mt-4 hidden">
                    <p class="text-lg font-bold">Imagem Capturada:</p>
                    <img id="captured-image" class="border-2 border-gray-500" alt="Captured Image">
                </div>

                <div id="error-message" class="flex items-center justify-center w-full h-full bg-black text-red-500 font-bold text-2xl hidden"></div>

                <!-- Container de notificação -->
                <div id="notification" class="fixed top-4 right-4 bg-white border border-gray-300 rounded-lg shadow-lg p-4 hidden">
                    <p class="font-bold text-red-600" id="notification-text"></p>
                    <img id="notification-image" class="w-16 h-16 mt-2 border-2 border-gray-500" alt="Notification Image">
                </div>

                <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest/dist/tf.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@latest/dist/teachablemachine-image.min.js"></script>
                <script src="script.js"></script>
            </div>
            <div class="col-span-1 px-2 py-1 gap-1 justify-around flex flex-col">
                <div id="img1"></div>
                <div id="img2"></div>
                <div id="img3"></div>
                <div id="img4"></div>
                <div id="img5"></div>
            </div>
        </div>
    </div>
</body>
</html>