<%- include('./partials/header', {
    gestorInfo: gestorInfo,
    pageName: 'Histórico'
}) %>

    <div class="grid grid-cols-7 min-h-screen">
    
        <div id="loader"></div>
     
        <%- include('./partials/menu', {gestorInfo: gestorInfo}) %>
        
        <!-- Main Content -->
        <div class="col-start-3 col-span-4 p-4">
            <div id="notifications" class="grid grid-cols-2 gap-4">
                <!-- Notification Card Example 1 -->
                <div class="bg-white shadow-md rounded-lg p-4 flex items-center space-x-4">
                    <img src="/img/capacete.png" alt="Foto do Funcionário" class="w-16 h-16 rounded-full object-cover">
                    <div>
                        <h3 class="text-lg font-semibold">Oficina</h3>
                        <p class="text-gray-600">Câmera: Câmera 1</p>
                        <p class="text-gray-600">Funcionário: João da Silva</p>
                        <p class="text-gray-500 text-sm">Data: 2024-06-19</p>
                        <p class="text-gray-500 text-sm">Hora: 08:30</p>
                    </div>
                    <ion-icon name="alert-circle-outline" class="text-red-500 text-3xl ml-auto"></ion-icon>
                </div>
                <!-- Notification Card Example 2 -->
                <div class="bg-white shadow-md rounded-lg p-4 flex items-center space-x-4">
                    <img src="/img/capacete.png" alt="Foto do Funcionário" class="w-16 h-16 rounded-full object-cover">
                    <div>
                        <h3 class="text-lg font-semibold">Caldeira</h3>
                        <p class="text-gray-600">Câmera: Câmera 2</p>
                        <p class="text-gray-600">Funcionário: Maria de Souza</p>
                        <p class="text-gray-500 text-sm">Data: 2024-06-19</p>
                        <p class="text-gray-500 text-sm">Hora: 09:45</p>
                    </div>
                    <ion-icon name="alert-circle-outline" class="text-red-500 text-3xl ml-auto"></ion-icon>
                </div>
                <!-- Notification Card Example 3 -->
                <div class="bg-white shadow-md rounded-lg p-4 flex items-center space-x-4">
                    <img src="/img/capacete.png" alt="Foto do Funcionário" class="w-16 h-16 rounded-full object-cover">
                    <div>
                        <h3 class="text-lg font-semibold">Carregamento</h3>
                        <p class="text-gray-600">Câmera: Câmera 3</p>
                        <p class="text-gray-600">Funcionário: Carlos Pereira</p>
                        <p class="text-gray-500 text-sm">Data: 2024-06-19</p>
                        <p class="text-gray-500 text-sm">Hora: 10:15</p>
                    </div>
                    <ion-icon name="alert-circle-outline" class="text-red-500 text-3xl ml-auto"></ion-icon>
                </div>
            </div>
        </div>
         
    </div>

    <!-- IonIcons library -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body> 

</html>
